<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= t('email_greeting') + ", " %> </h1>
    <p>
      <%= t('denounce_email_template') %>
    </p>
  </body>
</html>