.container
  .row
    .col-sm-12
      = ("Cynk is designed for law and orderliness passionates willing to change the world by promoting healthy social attitude. ")
      .row
      = ("Gain respect in your city, earn points, observe how life is getting better.")
      .row
      %br/
      = image_tag "shop.jpg", class: "img-responsive img-thumbnail img-circle"
    .col-sm-4
      .login
